In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\GANAVI
[nltk_data]     R\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [6]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [7]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [8]:
fake['target'] = 1
genuine['target']=0

In [9]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [10]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [11]:
data = pd.concat([fake,genuine],axis=0)

In [12]:
data = data.reset_index(drop=True)

In [13]:
data = data.drop(['subject','date','title'],axis=1)

In [14]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [15]:
from nltk.tokenize import word_tokenize

In [16]:
data['text'] = data['text'].apply(word_tokenize)

In [17]:
print(data.head())

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       1
1  [House, Intelligence, Committee, Chairman, Dev...       1
2  [On, Friday, ,, it, was, revealed, that, forme...       1
3  [On, Christmas, day, ,, Donald, Trump, announc...       1
4  [Pope, Francis, used, his, annual, Christmas, ...       1

In [18]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english')

In [19]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [20]:
data['text'] = data['text'].apply(stem_it)

In [21]:
print(data.head())

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       1
1  [hous, intellig, committe, chairman, devin, nu...       1
2  [on, friday, ,, it, was, reveal, that, former,...       1
3  [on, christma, day, ,, donald, trump, announc,...       1
4  [pope, franci, use, his, annual, christma, day...       1

In [22]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [23]:
data['text'] = data['text'].apply(stop_it)

In [24]:
print(data.head())

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       1
1  [hous, intellig, committe, chairman, devin, nu...       1
2  [friday, was, reveal, that, former, milwauke, ...       1
3  [christma, day, donald, trump, announc, that, ...       1
4  [pope, franci, use, his, annual, christma, day...       1

In [25]:
data['text'] = data['text'].apply(' '.join)

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

33887    washington reuter democrat lawmak the senat ju...
35912    warsaw reuter the unit state critic decis pola...
257      u.s. rep. tim murphi staunch pro-lif republica...
39796    kosambi indonesia reuter indonesian polic frid...
9435     given that ani democrat from california agains...
Name: text, dtype: object

33887    0
35912    0
257      1
39796    0
9435     1
Name: target, dtype: int64

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [28]:
print(tfidf_train)

  (0, 9993)	0.1268321148707673
  (0, 24119)	0.17118903787060138
  (0, 65134)	0.28853130210737427
  (0, 57034)	0.1247799571173606
  (0, 26124)	0.12672748269921882
  (0, 59241)	0.055417095833098624
  (0, 25725)	0.09367518077220657
  (0, 81535)	0.06467165054360224
  (0, 48713)	0.2867935702288976
  (0, 62636)	0.20772006529769912
  (0, 53673)	0.1051830718337569
  (0, 73852)	0.13601625082730748
  (0, 39833)	0.08901687643435915
  (0, 88972)	0.09714320716940275
  (0, 53482)	0.11411986990956638
  (0, 8097)	0.07040003477600904
  (0, 69385)	0.08285976103700328
  (0, 77096)	0.12481978314255752
  (0, 58974)	0.1413573288618426
  (0, 38183)	0.13760381950821238
  (0, 39387)	0.12516996766520683
  (0, 10888)	0.11684668167514549
  (0, 21141)	0.0952004924909659
  (0, 89895)	0.06660522721335739
  (0, 69462)	0.08770313683994715
  :	:
  (33672, 18795)	0.09901706154255265
  (33672, 87497)	0.1491816850168676
  (33672, 79081)	0.09507392729273836
  (33672, 35818)	0.12449528181847341
  (33672, 61349)	0.051814572739319116
  (33672, 73023)	0.31131623746805154
  (33672, 30979)	0.08810375993709381
  (33672, 63174)	0.05222354994511721
  (33672, 60283)	0.06813839277485748
  (33672, 38110)	0.08642693196197697
  (33672, 60246)	0.07903038357498308
  (33672, 65670)	0.10596315401005886
  (33672, 64628)	0.17788284090918932
  (33672, 37970)	0.11723073577958132
  (33672, 13514)	0.0659883061634598
  (33672, 76938)	0.09192540165536159
  (33672, 79231)	0.06261377394401983
  (33672, 60988)	0.0834105509449831
  (33672, 88910)	0.09989976983560649
  (33672, 13494)	0.144868184148879
  (33672, 28371)	0.08537888621712457
  (33672, 37108)	0.09893793094748984
  (33672, 41477)	0.09897590538746717
  (33672, 20576)	0.08619064643751485
  (33672, 69783)	0.048681169948759845

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [30]:
model_1 = LogisticRegression (max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.77951002227171

In [31]:
from sklearn.linear_model import PassiveAggressiveClassifier
model= PassiveAggressiveClassifier (max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [32]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.59910913140313

In [34]:
def preprocess_text(text):
    tokens = word_tokenize(text)
    stemmed_tokens = [porter.stem(word) for word in tokens]
    processed_tokens = [word for word in stemmed_tokens if len(word) > 2]
    processed_text = ' '.join(processed_tokens)
    return processed_text

input_text = "In a highly anticipated speech, Vice President Kamala Harris addressed the United Nations General Assembly, reaffirming America's commitment to global cooperation and multilateralism. Harris emphasized the importance of addressing pressing global challenges such as climate change, COVID-19, and economic inequality through collective action. The speech marked a significant moment for Harris, who became the first female vice president of the United States and the highest-ranking woman in U.S. history. Her remarks underscored the Biden administration's efforts to reengage with the international community after years of strained relations under the previous administration"
preprocessed_input = preprocess_text(input_text)
tfidf_input = my_tfidf.transform([preprocessed_input])
prediction = model.predict(tfidf_input)
print("Predicted target:", prediction[0])
if(prediction[0] == 1):
    print("The news is most likely real")
else:
    print("The news is most likely fake")

Predicted target: 0
The news is most likely fake